


<div class="register"> 

<form [formGroup]='userForm' (submit)='onRegisterEvent($event)' >

    <div class="form-group">
        <label for="screenName">
            Screen Name: <input id="screenName" type="text"  name='screenName'  required   formControlName='screenName' class="form-control"/>
        </label>
    </div>
    
<div class="form-group">
    <label for="selectedChatRoom">
        <select formControlName="selectedChatRoom" id="selectedChatRoom" class="form-control">
            <option value="">--choose ChatRoom--</option>
            <option value="Fun with Taxes">Fun with Taxes</option>
            <option value="The Dark Web">Dark Web</option>
            <option value="Mystic-1-4-U">Mystic-1-4-U</option>
        </select>
         </label>
         <br>
         <br>
         <input type="submit" value="Register" class="btn btn-primary">

</div>
    
</form>
</div>